<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="robots" content="noindex" />

        <title>PayPal</title>

        <style>
            html, body {
                padding: 0;
                margin: 0;
            }
        </style>
    </head>

    <body>
        <script src="{{config.urls.incontextScript}}/checkout{{#if meta.version}}.{{meta.version}}{{/if}}.js" data-paypal-checkout data-no-bridge data-state="ppxo_meta" data-env="{{meta.env}}" {{#if meta.icstage}}data-stage="{{meta.icstage}}"{{/if}}></script>

        <div id="buttonContainer">
            <button class="paypal-button paypal-style-{{buttonConfig.label}} paypal-color-{{buttonConfig.color}} paypal-size-{{buttonConfig.size}} paypal-shape-{{buttonConfig.shape}} {{buttonConfig.locale}}" type="submit">
                <span class="paypal-button-content">
                    {{{buttonConfig.logo}}}
                </span>
                <br>
                <span class="paypal-button-tag-content">{{buttonConfig.checkout_tag}}</span>
            </button>

            <style type="text/css">

                /* Base Button */

                .paypal-button {
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    background: 0;
                    border: 0;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                    text-transform: none;
                    font-weight: 500;
                    -webkit-font-smoothing: antialiased;
                    font-smoothing: antialiased;
                    cursor: pointer;
                    z-index: 0;
                }

                .paypal-button .paypal-button-content {
                    padding: 4px 8px 4px;
                    border: 1px solid transparent;
                    border-radius: 0 3px 3px 0;
                    min-width: 57px !important;
                    box-sizing: content-box !important;
                    padding-top: 0;
                    padding-bottom: 0;
                    position: relative;
                }

                .paypal-button .paypal-button-content img {
                    vertical-align: middle;
                    padding: 0 !important;
                    display: inline !important;
                    background: none !important;
                    border: none !important;
                    box-sizing: content-box !important;
                }




                /* Tiny */

                .paypal-button.paypal-size-tiny {
                    max-width: 80px !important;
                    width: auto;
                }


                .paypal-button.paypal-size-tiny .paypal-button-content img {
                    height: 16px;
                    line-height: 24px;
                    margin-top: -4px;
                    padding-right: 0;
                }

                .paypal-button.paypal-size-tiny .paypal-button-content {
                    height: 18px !important;
                    max-height: 18px !important;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-left: 2px;
                    margin-top: 2px;
                    margin-bottom: 2px;
                    margin-right: 2px;
                    width: 66px;
                    display: inline-block;
                    overflow: visible;
                    border-top-left-radius: 9px;
                    border-bottom-left-radius: 9px;
                    border-top-right-radius: 9px;
                    border-bottom-right-radius: 9px;
                    border: none;
                    font-size: 10px !important;
                    line-height: 20px !important;
                    vertical-align: middle;

                }

                .paypal-button.paypal-size-tiny .paypal-button-tag-content {
                    display: none;
                }

                .paypal-button.paypal-size-tiny .paypal-button-content::before {
                    content: "";
                    padding: 1px;
                    top: -1px;
                    left: -1px;
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .paypal-button.paypal-size-tiny.paypal-shape-rect .paypal-button-content::before {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
                .paypal-button.paypal-size-tiny.paypal-shape-rect .paypal-button-content {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }


                /* Small */

                .paypal-button.paypal-size-small {
                    max-width: 148px !important;
                    width: auto;
                }

                .paypal-button.paypal-size-small .paypal-button-content {
                    height: 24px !important;
                    max-height: 24px !important;
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-left: 2px;
                    margin-top: 2px;
                    margin-right: 2px;
                    width: 130px;
                    display: inline-block;
                    overflow: visible;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    border: none;
                    font-size: 10.2px !important;
                    line-height: 26px !important;
                    vertical-align: middle;
                }

                .paypal-button.paypal-size-small .paypal-button-content img {
                    width: 63px;
                    margin: 1px 0 0 1px;
                    height: 20px;
                    line-height: 32px;
                    margin-top: -3px;
                    padding-right: 10px;
                    margin-right: 4px;
                }

                .paypal-button.paypal-size-small .paypal-button-tag-content {
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    line-height: 11px;
                    font-size: 9px;
                    margin-top: 3px;
                    color: #003366;
                    display: block;
                    text-align: center;
                    width: auto;
                }

                .paypal-button.paypal-size-small .paypal-button-content::before {
                    content: "";
                    padding: 1px;
                    top: -1px;
                    left: -1px;
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 14px;
                    border-bottom-left-radius: 14px;
                    border-top-right-radius: 14px;
                    border-bottom-right-radius: 14px;
                }

                .paypal-button.paypal-size-small.paypal-shape-rect .paypal-button-content::before {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                .paypal-button.paypal-size-small.paypal-shape-rect .paypal-button-content {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }


                /* Medium */

                .paypal-button.paypal-size-medium .paypal-button-content {
                    min-width: 71px !important;
                    max-width: 230px !important;
                    height: 30px !important;
                    max-height: 30px !important;
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-left: 2px;
                    margin-top: 2px;
                    margin-right: 2px;
                    width: 210px;
                    display: inline-block;
                    overflow: visible;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border: none;
                    font-size: 12px !important;
                    line-height: 34px !important;
                    vertical-align: middle;
                }

                .paypal-button.paypal-size-medium .paypal-button-content::before {
                    content: "";
                    padding: 2px;
                    top: -2px;
                    left: -2px;
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 17px;
                    border-bottom-left-radius: 17px;
                    border-top-right-radius: 17px;
                    border-bottom-right-radius: 17px;
                }

                .paypal-button.paypal-size-medium .paypal-button-content img {
                    width: 71px;
                    margin: 2px 0 0 1px;
                    height: 24px;
                    line-height: 34px;
                    margin-top: -4px;
                    margin-right: 4px;
                    padding-right: 0;
                }

                .paypal-button.paypal-size-medium .paypal-button-tag-content {
                    line-height: 12px;
                    font-size: 10px;
                    margin-top: 4px;
                    color: #003366;
                    display: block;
                    text-align: center;
                    width: auto;
                }

                .paypal-button.paypal-size-medium.paypal-shape-rect .paypal-button-content::before {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
                .paypal-button.paypal-size-medium.paypal-shape-rect .paypal-button-content {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }




                /* Gold */

                .paypal-button.paypal-color-gold .paypal-button-content {
                    background: #ffc439;
                    color: #000;
                    text-shadow: 0px 1px 0 #ffdc88;
                }

                .paypal-button.paypal-color-gold .paypal-button-content::before {
                    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffdc88), to(#d9a630)) 0 100%;
                    background: -webkit-linear-gradient(#ffdc88, #d9a630) 0 100%;
                    background: -moz-linear-gradient(#ffdc88, #d9a630) 0 100%;
                    background: -o-linear-gradient(#ffdc88, #d9a630) 0 100%;
                    background: linear-gradient(to bottom, #ffdc88, #d9a630) 0 100%;
                }


                /* Blue */

                .paypal-button.paypal-color-blue .paypal-button-content {
                    background: #009cde;
                    color: white;
                    text-shadow: 0px -1px 0 #0d86bb;
                }
                .paypal-button.paypal-color-blue .paypal-button-content::before {
                    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4dbae8), to(#0d86bb)) 0 100%;
                    background: -webkit-linear-gradient(#4dbae8, #0d86bb) 0 100%;
                    background: -moz-linear-gradient(#4dbae8, #0d86bb) 0 100%;
                    background: -o-linear-gradient(#4dbae8, #0d86bb) 0 100%;
                    background: linear-gradient(to bottom, #4dbae8, #0d86bb) 0 100%;
                }


                /* Silver */

                .paypal-button.paypal-color-silver .paypal-button-content {
                    background: #eee;
                    color: #000;
                    text-shadow: 0px -1px 0 #ccc;
                }

                .paypal-button.paypal-color-silver .paypal-button-content::before {
                    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#cccccc)) 0 100% !important;
                    background: -webkit-linear-gradient(#f5f5f5, #cccccc) 0 100%;
                    background: -moz-linear-gradient(#f5f5f5, #cccccc) 0 100%;
                    background: -o-linear-gradient(#f5f5f5, #cccccc) 0 100%;
                    background: linear-gradient(to bottom, #f5f5f5, #cccccc) 0 100% !important;
                }




                /* Locales */

                .fr_CA .paypal-button-tag-content {
                    width: 70%;
                    white-space: normal;
                    margin-top: 0;
                }


                .id_ID .paypal-button-tag-content,
                .nl_NL .paypal-button-tag-content,
                .no_NO .paypal-button-tag-content,
                .pt_BR .paypal-button-tag-content,
                .ru_RU .paypal-button-tag-content,
                .sv_SE .paypal-button-tag-content,
                .tr_TR .paypal-button-tag-content {
                    width: 80%;
                    white-space: normal;
                    margin-top: 0;
                }

                .he_IL .paypal-button-tag-content,
                .pt_PT .paypal-button-tag-content  {
                    width: 100%;
                    white-space: normal;
                    margin-top: 0;
                }

                .es_ES .paypal-button-tag-content,
                .th_TH .paypal-button-tag-content {
                    width: 100%;
                }


                .pt_BR.paypal-button.paypal-size-small .paypal-button-tag-content,
                .id_ID.paypal-button.paypal-size-small .paypal-button-tag-content,
                .nl_NL.paypal-button.paypal-size-small .paypal-button-tag-content,
                .ru_RU.paypal-button.paypal-size-small .paypal-button-tag-content,
                .tr_TR.paypal-button.paypal-size-small .paypal-button-tag-content {
                    width: 80%;
                    margin: auto;
                }

                .id_ID.paypal-button.paypal-size-medium .paypal-button-tag-content
                {
                    width: 66%;
                    margin: auto;
                }
                .pt_PT.paypal-button.paypal-size-medium .paypal-button-tag-content
                {
                    width: 80%;
                    margin: auto;
                }

                .pt_BR.paypal-size-small .paypal-button-content img {    display: inline-block;
                    margin-top: -4px;
                    margin-left: 6px;
                }
                .ru_RU.paypal-size-small .paypal-button-content img {
                    display: inline-block;
                    margin-top: -13px;
                    margin-left: 6px;
                }
                .pt_BR.paypal-size-small .paypal-button-content span,
                .ru_RU.paypal-size-small .paypal-button-content span {
                    line-height: 12px;
                    width: 56px;
                    display: inline-block;
                    height: 26px;
                    margin-right: 6px;
                    margin-left: 0px;
                    white-space: normal;
                }

                .nl_NL.paypal-button.paypal-size-medium .paypal-button-content img {
                    height: 24px;
                    line-height: 34px;
                    margin-top: -5px;
                    margin-left: 16px;
                    padding-right: 0;
                }
            </style>
        </div>

        <script>
            window.angular = {
                value: function() {}
            };

            window.meta    = {{json meta}};
            window.cookies = {{json cookies}};
        </script>

        <script src="{{meta.configUrl}}/js/config.js" onerror="scripterror(event)"></script>
        <script src="{{meta.staticUrl}}/js/button.js" onerror="scripterror(event)"></script>
    </body>
</html>
