<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="robots" content="noindex" />

        <title>PayPal</title>
    </head>

    <body>

        {{{button}}}

        <script src="{{config.urls.incontextScript}}/checkout{{#if meta.version}}.{{meta.version}}{{/if}}.js" data-paypal-checkout data-no-bridge data-state="ppxo_meta" data-env="{{meta.env}}" {{#if meta.icstage}}data-stage="{{meta.icstage}}"{{/if}}></script>

        <script>
            window.angular = {
                value: function() {}
            };

            window.meta    = {{json meta}};
            window.cookies = {{json cookies}};
        </script>

        <script src="{{meta.configUrl}}/js/config.js?build={{meta.buildId}}" onerror="scripterror(event)"></script>
        <script src="{{meta.staticUrl}}/js/button.js?build={{meta.buildId}}" onerror="scripterror(event)"></script>
    </body>
</html>
